.ContactList {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 400px;
}

.ContactList_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  margin: 0;
}

.ContactList_item_btn{
    margin-left: 10px;
}
